:root.theme-light {
    .header__rec {
        display: none;
    }
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
    --h2-color: #353430;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --text-content-color: #353430;
    --button-color: #353430;
    --button-border-color: #353430;
    --border: 1px solid var(--text-color);
    --border-hover: 1px solid rgba(53, 52, 48, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
        --bg-image: url(../images/cover-image-light.png);
        --bg-color: #fff1f7;
        --title-color: #ffc2e6;
        --h2-color: #353430;
        --accent-color: #ff8dcb;
        --text-color: #353430;
        --text-content-color: #353430;
        --button-color: #353430;
        --button-border-color: #353430;
        --border: 1px solid var(--text-color);
        --border-hover: 1px solid rgba(53, 52, 48, 0.5);
    }

    .theme-auto .header__rec {
        display: none;
    }
    }


